// features
.features {
    @include breakpoint-min($desktop) {
        padding-bottom: 0;
    }
}

@media screen and (max-width:767.2px) {
    .feature-set__item:not(:last-of-type) {
        margin-bottom: 30px;
    }

    .feature-set__subtitle {
        text-align: center;
    }
}


.feature-set {
    &__item {
        width: 100%;
    }

    &__icon-block {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        border-radius: 4px;
        margin-bottom: 30px;
        background-color: $section-background-color;
    }

    &__icon {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__subtitle {
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__description {
        color: $secondary-text-color;
        line-height: 1.71;
    }

    @include breakpoint-min($tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__item {
            width: 354px;
        }
    }

    @include breakpoint-min($desktop) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__item {
            width: 270px;
        }
    }
}