.hero__title {

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-min($desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;

    }
}