body {
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    overflow-x: scroll;
    min-width: 320px;
    overflow-x: scroll;
}

body.modal-open {
    overflow: hidden;
}